* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NanumSquareRound;
  -webkit-tap-highlight-color: transparent;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
